<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cskaoyan.mapper.Device.DeviceMapper">
    <resultMap id="BaseResultMap" type="com.cskaoyan.domain.Device.Device">
        <id column="device_id" jdbcType="VARCHAR" property="deviceId"/>
        <result column="device_name" jdbcType="VARCHAR" property="deviceName"/>
        <result column="device_type_id" jdbcType="VARCHAR" property="deviceTypeId"/>
        <result column="device_status_id" jdbcType="VARCHAR" property="deviceStatusId"/>
        <result column="device_status" jdbcType="VARCHAR" property="deviceStatus"/>
        <result column="device_purchase_date" jdbcType="TIMESTAMP" property="devicePurchaseDate"/>
        <result column="device_purchase_price" jdbcType="DECIMAL" property="devicePurchasePrice"/>
        <result column="device_manufacture_date" jdbcType="TIMESTAMP" property="deviceManufactureDate"/>
        <result column="device_service_life" jdbcType="TIMESTAMP" property="deviceServiceLife"/>
        <result column="device_keeper_id" jdbcType="VARCHAR" property="deviceKeeperId"/>
        <result column="note" jdbcType="VARCHAR" property="note"/>
        <result column="device_type_name" jdbcType="VARCHAR" property="deviceTypeName"/>
        <result column="note" jdbcType="VARCHAR" property="deviceKeeper"/>
    </resultMap>
    <select id="selectList" resultMap="BaseResultMap">
        SELECT
dv.device_id,
dv.device_name,
dt.device_type_id,
dv.device_status_id,
dv.device_status,
dv.device_purchase_date,
dv.device_purchase_price,
dv.device_manufacture_date,
dv.device_service_life,
dv.note,
dt.device_type_name,
employee.emp_name AS device_keeper,
dv.device_keeper_id
FROM
device AS dv
LEFT JOIN device_type AS dt ON dv.device_type_id = dt.device_type_id
INNER JOIN employee ON employee.emp_id = dv.device_keeper_id

    </select>
</mapper>